<!DOCTYPE html>
<html>
  <head>
    <title>OC</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= image_tag("OC_Logo.png")%>

    <%= javascript_include_tag 'swfobject' %>


    <div class="hr"><hr></div>



  </head>

  <body>
    <%= yield %>
  </body>
</html>
